
/* Estilos globales */
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* Sección superior de bienvenida */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  margin-top: 40px; /* Ajustamos el margen superior para bajarlo */
}

.greeting {
  display: flex;
  flex-direction: column;
}

.morning-text {
  font-size: 20px; /* Aumentamos el tamaño de fuente */
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  margin: 0;
  color: #f1d7ff;
}

.user-name {
  font-size: 26px; /* Aumentamos el tamaño de fuente */
  font-family: "DM Sans", sans-serif;
  font-style: bold;
  margin: 8px 0 0; /* Ajustamos el margen */
}

.profile-image img {
  width: 60px; /* Aumentamos el tamaño de la imagen */
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/* Contenedor de la imagen de fondo */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ec671f;
}


  /* Contenedor principal del login */
.welcome-container {
  position: relative; /* Necesario para posicionar la imagen como fondo */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Alinea el login hacia la parte inferior */
  height: 100vh;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}


.welcome-box {
  background-color: #611f78;
  border-radius: 20px 20px 0 0; /* Bordes redondeados en la parte superior */
  padding: 20px 20px; /* Espaciado interno */
  width: 90%; /* Ajuste responsivo para diferentes anchos */
  height: calc(100vh - 10px); /* Altura total menos el espacio del header */
  box-sizing: border-box;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1); /* Sombra */
  border: 3px solid #ffffff; /* Borde blanco */
}

/* Logo */
.logo img {
  width: 75px; /* Ajusta el tamaño del logo */
  object-fit: contain;
}

/* Contenedor del título */
.welcome-title {
  font-family: "DM Sans", sans-serif;
  font-style: bold;
  font-size: 24px;
  height: auto; /* Ajusta la altura automáticamente */
  margin-top: 10px; /* Reduce el margen superior */
  margin-bottom: 10px; /* Reduce el margen inferior */
  color: #ffffff;
  font-weight: bold;
  text-align: center; /* Centrado horizontal */
}


/* Contenido */
.welcome-content {
  display: flex; /* Habilitamos Flexbox */
  flex-direction: column; /* Alineación de los hijos en columna */
}
.txt-content {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  height: 35vh; /* Altura relativa para un diseño responsivo */
  margin-top: 10px; /* Reduce el margen superior */
  padding: 10px; /* Ajusta el padding interno */
  color: #ffffff;
  font-weight: normal;

  margin: 0; /* Quitamos márgenes para que ocupe el espacio restante */
  flex-grow: 0.3; /* Hace que el contenido ocupe todo el espacio restante */

  text-align: left;
}

/* El botón siempre visible al final */
.continue-button {
  display: block;
  margin: 10px auto 0 auto; /* Alineación y espaciado */
  padding: 15px 30px; /* Espaciado interno */
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #dd5b22; /* Color del botón */
  border: none;
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer;
  transition: all 0.2s ease;
}

.continue-button:hover {
  background-color: #bb4a1c; /* Fondo más oscuro al pasar el mouse */
}

.continue-button:active {
  transform: translateY(2px); /* Efecto de presionado */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
}