<div class="background-container">
    <!-- Sección superior de bienvenida -->
    <div class="header">
      <div class="greeting">
        <!-- Aquí puedes reemplazar con el nombre dinámico -->
        <p class="morning-text">¡Buenos días!</p>
        <h2 class="user-name">Hola {{name}}</h2>

      </div>
      <div class="profile-image">
        <img src="imgs/user.png" alt="Perfil de Usuario" />
      </div>
    </div>
  
    <div class="home-container">
      <div class="home-box">
        <div class="logo">
            <img src="imgs/wow-simple-logo.png" alt="Logo OWOW" />
          </div>
          <h2 class="home-title">Pasaporte WOW</h2>
      </div>
    </div>
  </div>
  