<div class="background-container">
    <!-- Botón de cierre de sesión -->
    <div class="logout-container">
      <button class="logout-button" (click)="logout()">Cerrar sesión</button>
    </div>
    <!-- Sección superior de bienvenida -->
    <div class="header">
      <div class="greeting">
        <!-- Aquí puedes reemplazar con el nombre dinámico -->
        <p class="morning-text">¡Buenos días!</p>
        <h2 class="user-name">Hola {{name}}</h2>

      </div>
      <div class="profile-image">
        <img src="imgs/user.png" alt="Perfil de Usuario" />
      </div>
    </div>

    <div class="home-container">
    <div class="home-box">
      <div class="logo">
        <img src="imgs/wow-simple-logo.png" alt="Logo OWOW" />
      </div>
      <h2 *ngIf="countActiveSellos() < 5" class="home-title">Pasaporte WOW</h2>
    
      <!-- Contenedor de sellos -->
      <div *ngIf="countActiveSellos() == 5" class="seal-container">
        <!-- Mostrar mensaje si hay 5 sellos -->
        <div class="contest-message">
          <p>¡JUEGO FINALIZADO!<br /><br />¡Ya estás participando del sorteo, mucha suerte!</p>
        </div>      
      </div>
      <div *ngIf="countActiveSellos() < 5" class="seal-container">
        <!-- Mostrar sellos si hay menos de 5 -->
          <div *ngFor="let sello of sellosUser | keyvalue" class="seal-item">
            <div class="seal-circle">
              <img [src]="getSelloImage(sello.key)" alt="{{ sello.key }} sello" />
            </div>
          </div>
      </div>
    </div>
  </div>
  