/* src/styles.css */

@font-face {
    font-family: "DM Sans";
    src: url("../../public/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "DM Sans";
    src: url("../../public/fonts//DMSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }